<section class="hero">
<aside id="aside1">
    <p> Mon - Fri: 8PM - 10PM, Sat - Sun: 8PM - 3AM</p>
</aside>
<article id="hungry">
    <p>RESTAURANT</p>
    <div id="hungry_container">
    <h1>HUNGRY</h1>
    <h1>PEOPLE</h1>
    </div>
    <span id="yellow_line"></span>
    <div id="hero_buttons">
    <a id="book" href="/booking">BOOK TABLE</a><a id="explore" href="/menu">EXPLORE</a>
    </div>
    <img id="arrow" src="arrow.png" alt="">
</article>
<aside id="aside2">
    <a href="#"><img src="fb.png" alt=""></a>
    <a href="#"><img src="twitter.png" alt=""></a>
    <a href="#"><img src="insta.png" alt=""></a>
</aside>
</section>